{% load static %}
<div class="container p-3">
    <div class="col-md-3">
        <!-- Code for Filter form start-->
        <a class="text-dark text-sm mb-1" href="{% url 'products' %}">x Clear Filters</a>
        <form method="get">
            <div style="display: grid"> 
                {% for field in filter.form %}
                    <div id="form-field-{{ forloop.counter0 }}">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-dark mb-3 mt-2">Filter</button>
        </form>
        <!-- Code for Filter form end-->
    </div>
    <button id="tocar">Tocar</button>
</div>

